/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/**
CRUD - Layout
**/
.crud-layout-header {
    background-color: #1975dc;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crud-layout-header-title {
    margin: 0;
}
.crud-layout-header-button {
    margin: 5px;
    padding: 5px 20px;
    border-radius: 3px;
    background: #22ac10;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.crud-layout-header-button:hover {
    background: #22c55e;
}
.crud-layout-table table {
    margin-bottom: 0px !important;
}
.crud-layout-pagination {
    padding: 20px 0px;
    text-align: center;
    background: #fff;
}
.crud-layout-form {
    padding: 20px 10px;
    background: #f3f4f6;
}

table {
    table-layout: fixed;
}

/**
ant-design-override
**/

.ant-pagination .ant-pagination-item-active a {
    color: #1677ff !important; /* Your desired color */
}

.specialization-item-capsule {
    margin: 0 3px 3px 0;
    padding: 5px 12px;
    background: #f3f4f6;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #1975dc;
}
.list-image-container {
    width: 150px;
}
.list-image-container img {
    width: 100%;
    height: 100%;
}

